h1{
  color:red;
  font-family:Georgia;
  font-weight: lighter;
  font-size:18;
  text-align: center;
}
h2{
  color:blue;
  font-family:Helvetica;
  font-size:14;
}
h3{
  color:blue;
  font-family:Helvetica;
  font-size:10;
}
body{
  background:yellow;
}
